<!DOCTYPE html>
<html>
  <head>
    <title>Tiny Captions</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="path/to/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
  </head>
<body>
    <div class="input-header">
        <input type="text" id="image_url" name="image_url" placeholder="Enter image URL" required oninput="previewImage()">
        <button type="submit" onclick="generateCaption()"> 🪄 Generate</button>
    </div>
    <div class="columns">
      <div class="left-column">
        <div class="image-container">
          <img id="image_preview" src="https://images.pexels.com/photos/6927881/pexels-photo-6927881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </div>
      </div>
              
        <div id="caption_div" class="right-column empty-state">
          “Everything will be okay in the end. If its not okay, its not the end.” - John Lennon.
        </div>
    </div>
    <div class="footer">
        Built with ♥️ by Prateek Keshari
        <div class="social-links">
          <a href="https://www.linkedin.com/in/prateekkeshari" target="_blank">LinkedIn</a>
          <a href="https://www.twitter.com/prkeshari" target="_blank">Twitter</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>