<!DOCTYPE html>
<html>
  <head>
    <title>Image Captioning</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="input-header">
        <input type="text" id="image_url" name="image_url" placeholder="Enter image URL" required oninput="previewImage()">
        <button type="submit" onclick="generateCaption()"> 🪄 Generate</button>
    </div>
    <div class="columns">
        <div class="left-column">
            <div class="image-container">
                <img id="image_preview" src="" alt="">
            </div>
        </div>        
        <div id="caption_div" class="right-column empty-state">
            This GetYourGuide experience is an image of kayakers in a cave, surrounded by beautiful rock formations and illuminated by natural light. The kayakers are wearing life jackets and paddling in the crystal clear water. Book now on https://getyourguide.com.
        </div>
    </div>
    <div class="footer">
        Built with 💜 by Prateek Keshari
        <div class="social-links">
          <a href="https://www.linkedin.com/in/prateekkeshari" target="_blank">LinkedIn</a>
          <a href="https://www.twitter.com/prkeshari" target="_blank">Twitter</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>